@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

.blog-card-content {
  word-break: break-word;
}

.about-dots {
  left: calc(((100vw - 1024px)/2) - 144px);
  top: 64px;
}

.cta-dots {
  right: 64px;
  top: 64px;
}

@media screen and (max-width:1024px) {
  .cta-dots {
    right: 24px;
    top: 24px;
  }
}