@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

.blog-card-content {
  word-break: break-word;
}

.about-dots {
  left: calc(((100vw - 1024px)/2) - 144px);
  top: 64px;
}

.cta-dots {
  right: 64px;
  top: 64px;
}

main.content {
  margin-top: 77px;
}

@media screen and (max-width:1024px) {
  .cta-dots {
    right: 24px;
    top: 24px;
  }

  main.content {
    margin-top: 68px;
  }
}

@media screen and (max-width:768px) {
  main.content {
    margin-top: 62px;
  }
}

@media screen and (max-width:640px) {
  main.content {
    margin-top: 46px;
  }
}